<div style="background-color: black;">
<img src="/assets/header.png" alt="image"  height="200px" width="100%" tag>
</div>
<mat-toolbar style="background-color: black; color: whitesmoke;">
    <mat-toolbar-row>
      <h1>Eshop</h1>
      <button mat-icon-button style="margin-left: 26px; background-color: brown;">Promotions</button>
      <button mat-icon-button style="margin-left: 46px; color:rgb(165, 170, 168)">Products</button>
      <button mat-icon-button style="margin-left: 26px; color:rgb(165, 170, 168)">History</button>
      <button mat-icon-button style="margin-left: 26px; color:rgb(165, 170, 168)">Contacts</button>
    </mat-toolbar-row>
  </mat-toolbar>